# Dependency directories
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# Session store files
sessions/

# Temporary and upload files
public/uploads/*
!public/uploads/.gitkeep

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
